.category-list {
  text-align: left;
}

.app-content {
  display: flex;
  flex-direction: row;
}

.pager {
  display: flex;
}

.pager div {
  margin: 5px;
}

.pager div.selected {
  font-weight: 700;
}
